*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'Roboto';
	font-size:15px ;
}
nav{
	width: 100%;
	background-color: black;
	min-height: 40px;
}
nav ul{
	text-align: center;
}
nav ul li{
	list-style: none;
	display: inline-block;
	line-height: 40px;
	padding: 0px 10px;
	position: relative;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li:hover {
	background-color: purple;
	transition: 0.5s;
}
nav ul li:hover a{
	color: white;
}
nav ul li ul.drop-menu{
	display: none;
}
nav ul li ul.drop-menu li{
	display: block;
}
nav ul li:hover > ul.drop-menu{
	display: block;
	position: absolute;
	top: 40px;
	left: 0px;
	min-width: 160px;
	background-color: black;
}
nav ul li ul.drop-menu{
	text-align: left;
}
/* nav ul li:hover > ul.drop-menu2{
	display: block;
	position: absolute;
	top: 0px;
	left: 160px;
	min-width: 160px;
	background-color: black;
} */